<div class="container-fluid d-flex stripe-1" style="height: 100vh !important">
    <div class="d-block m-auto">
      <div class="mr-3 d-none d-sm-inline">
        <img src="assets/error/404.svg" alt />
      </div>
      <div class="text-md-center">
        <h1>404</h1>
        <h2 class="my-3 headline">Página não encontrada.</h2>
        <div>
          <button class="btn btn-danger py-3 w-100" [routerLink]="['/main']" routerLinkActive="router-link-active" >Voltar a página inicial</button>
        </div>
      </div>
    </div>
  </div>