<div class="container-fluid p-0 h-100" id="container">
    <div class="row p-0 m-0 h-100">
        <div class="col-md-7 d-none d-md-inline p-0 log-in-container stripe-1">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="assets/imgs/barber-shop.png" class="img-fluid" alt="">
                    <h1 class="mt-4">Bem vindo de volta!</h1>
                    <p>Aplicativo para gerenciamento de agendamentos de horarios.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 p-0">
            <form action="#">
                <img src="assets/imgs/barber-shop-primary.png" class="img-fluid d-inline d-md-none p-4" alt="">
                <h1>Logar</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#" class="social"><i class="fab fa-google fa-2x"></i></a>
                </div>
                <span>ou use sua conta</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <button class="mt-3">Entrar</button>
                <div class="row my-5 align-items-end">
                    <div class="col-12">
                        <div class="d-block">
                            <a href="#" class="d-block mt-4">Esqueceu a senha?</a>
                        </div>
                        <div class="d-block">
                            <a class="mr-2">Utilizando o Blook pela primeira vez?</a>
                            <a href="#">Criar uma conta</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>